<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BlogWithMe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{{ url_for('all_users') }}">
                        All Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user', name='saber') }}">User Profile</a>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="{{ url_for('name') }}">Name</a>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="{{ url_for('test_password') }}">CheckPass</a>#}
                {#                </li>#}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_post') }}">Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_posts') }}">All Posts</a>
                </li>

                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout User</a>
                    </li>
                    {% if current_user.id == 35 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_user') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <div class="float-right mx-5">
                <h4>{{ current_user.username|title }}</h4>
            </div>
            <form class="d-flex" role="search" method="post" action="{{ url_for('search_for') }}">
                {{ form.hidden_tag() }}
                <input class="form-control me-2" name="searched" type="search"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>