{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1>Welcome {{ current_user.username|upper }}</h1>
            <div class="text-left my-5">
                <strong>Username: </strong>{{ current_user.username }}<br>
                <strong>Name: </strong>{{ current_user.name }}<br>
                <strong>Email: </strong>{{ current_user.email }}<br>
                <strong>Date Joined: </strong>{{ current_user.date_added }}<br>
                <br>
                <br>
                <strong>About me: <br></strong>{{ current_user.about_me }}<br>

                {% if current_user.profile_img %}
                    <strong>Profile Image:</strong><br>
                    <img src="{{ url_for('static', filename='imgs/' + current_user.profile_img) }}"
                         alt="Profile Image" width="500" height="300">
                {% else %}
                    <strong>No profile image uploaded.</strong>
                {% endif %}
                <br>
                <br>
            </div>
        </div>

        <div class="col-md-2">
            {% if current_user.profile_img %}
{#                <strong>Profile Image</strong><br>#}
                <img class="rounded-circle" src="{{ url_for('static', filename='imgs/' + current_user.profile_img) }}"
                     alt="Profile" width="100" height="100">
            {% else %}
                <strong>No profile image uploaded.</strong>
            {% endif %}
        </div>
    <a class="btn btn-info" href="{{ url_for('update_user', id=current_user.id) }}">Update Profile</a>
    </div>
{% endblock %}
