body {
    background-color: beige;
}

h2 {
    background-color: aqua;
    font-size: 30px;
}

.name-edit {
    display: flex;
    justify-content: space-between;
}

.btn-edit-rmv {
    display: flex;
}

.btn-edit-rmv a {
    margin: 0 20px;
}