{% extends 'base.html' %}
{% block title %}Test Password{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ email|upper }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <h1>User Password Check</h1>
    <br>
    {% if email %}
        <p>Email: {{ email }}</p>
        <p>Password: {{ password }}</p>
        <p>name to check: {{ password_to_check.name }}</p>
        <p>email to check: {{ password_to_check.email }}</p>
        <p>PW to check: {{ password_to_check.password_hash }}</p>
        <p>PW to check: {{ passed }}</p>
    {% else %}
        <p>name to check: {{ password_to_check.name }}</p>
        <p>email to check: {{ password_to_check.email }}</p>
        <p>PW to check: {{ password_to_check.password_hash }}</p>
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.email.label() }}
            {{ form.email(class="form-control") }}

            {{ form.password_hash.label() }}
            {{ form.password_hash(class="form-control") }}
            <br>
            {{ form.submit(class='btn btn-success') }}
        </form>
    {% endif %}
{% endblock %}