{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if id == current_user.id %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ name|upper }}</strong> You are Welcome!
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}

        {% if name %}
            <h1>Update User</h1>
        {% else %}
            <h1>Update User</h1>
            <br>
            <form method="post" action="/update/{{ user_to_update.id }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.name.label(class="control-label") }}
                    {{ form.name(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.username.label(class="control-label") }}
                    {{ form.username(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="control-label") }}
                    {{ form.email(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.about_me.label(class="control-label") }}
                    {{ form.about_me(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.profile_img.label(class="control-label") }}
                    {{ form.profile_img(class="form-control-file") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>

        {% endif %}
    {% else %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>You are not welcomed to this page!!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}